{% load staticfiles %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>财经新闻网实时新闻监控系统</title>
<meta name="keywords" content="{{ SITE_NAME }}" />
<meta name="description" content="{{ SITE_DESC }}" />
<link href="{% static 'css/bootstrap-combined.min.css' %}" rel="stylesheet" >
<link href="{% static 'css/base.css' %}" rel="stylesheet">
<link href="{% static 'css/index.css' %}" rel="stylesheet">
{% block custom_css %}{% endblock %}
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/sliders.js' %}"></script>
<script type="text/javascript" src="{% static 'js/echarts.common.min.js' %}"></script>
<!--
<style type="text/css">
body {
    background-color: rgba(220, 186, 88, 0.52);
}
</style>
-->
<!--[if lt IE 9]>
<script src="js/modernizr.js"></script>
<![endif]-->
{% block custom_js %}{% endblock %}
</head>
<body>
{% if not request.user.is_authenticated %}
<div>
<h3> 
    <a href='/power/reg/' style="color:#C5021A;float:right;margin-left:5px;margin-right:5px;" >&nbsp;&raquo;注册</a>

    <a href='/power/login/' style="color:#0287c5;float:right" >&raquo;登陆</a>
</h3>
</div>
{% else %}
<div class='login_info'>
    <h3>
    <a href="/power/logout/" style="color:#0287c5;float:right" >&nbsp;&nbsp;&nbsp;&raquo;退出</a>
    <a style="color:#B10B0B;float:right" >{{ request.user.username }}</a>
    </h3>
 </div>
{% endif %}
<header>
  <div class="logo">
      <h1>{{ SITE_NAME }}</h1>
      <p>{{ SITE_DESC }}</p>
  </div>
  <nav id="topnav" class="f_r">
    <ul>
      <a href="/home/">首页</a>
      <a href="/home/important/">重要新闻</a>
      <a href="/home/most_important/">特别重要</a>
      <a href="/home/today_sort/">当日排行</a>
      <a href="/power/">统计展示</a>
      <a href="/power/quanzhong/">关键词权重</a>
      <!--
      <a href="/power/setting/">站点监控</a>
      -->
    </ul>
    <script src="{% static 'js/nav.js' %}"></script>
  </nav>
</header>
<article>
  <div class="l_box f_l">
      {% block left_content %}{% endblock %}
  </div>
  <div class="r_box f_r">
    <div class="tit01">
      <h3>站点关注</h3>
      <div class="gzwm">
            <!--
        <ul>
          <li><a class="xlwb" href="#" target="_blank">新浪微博</a></li>
          <li><a class="txwb" href="#" target="_blank">腾讯微博</a></li>
          <li><a class="rss" href="portal.php?mod=rss" target="_blank">RSS</a></li>
          <li><a class="wx" href="mailto:admin@admin.com">邮箱</a></li>
        </ul>
       -->
      </div>
    </div>
    <!--tit01 end-->
    <div class="moreSelect" id="lp_right_select">
      <script>
window.onload = function ()
{
  var oLi = document.getElementById("tab").getElementsByTagName("li");
  var oUl = document.getElementById("ms-main").getElementsByTagName("div");

  for(var i = 0; i < oLi.length; i++)
  {
    oLi[i].index = i;
    oLi[i].onmouseover = function ()
    {
      for(var n = 0; n < oLi.length; n++) oLi[n].className="";
      this.className = "cur";
      for(var n = 0; n < oUl.length; n++) oUl[n].style.display = "none";
      oUl[this.index].style.display = "block"
    }
  }
}
</script>
    <div>
        <form class="form-search" action="/home/search/" method="GET" onClick="return Checktext();" >
        <input class="input-medium search-query" type="text" name="keywords"/>
        <button type="submit" class="btn" style="color:#f77825;">关键词搜索</button>
    </div>
      <div class="ms-top">
        <ul class="hd" id="tab">
          <li class="cur"><a>浏览排行</a></li>
          <li><a>重要新闻</a></li>
          <li><a>站长推荐</a></li>
        </ul>
      </div>
      <div class="ms-main" id="ms-main">
        <div style="display: block;" class="bd bd-news" >
          <ul>
              {% for page_view in page_views %}
              <li>
              <a href="/home/detail/?id={{page_view.id}}" target="_blank">{{ page_view.title | slice:':15' }}</a>
              </li>
              {% endfor %}
          </ul>
        </div>
        <div  class="bd bd-news">
          <ul>
            {% for import_new in import_news %}
            <li>
            <a href="/home/detail/?id={{import_new.id}}" target="_blank">{{ import_new.title | slice:':15' }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
        <div class="bd bd-news">
          <ul>
            {% for importest_new in importest_news %}
            <li><a href="/home/detail/?id={{importest_new.id}}" target="_blank">{{ importest_new.title | slice:':15' }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <!--ms-main end -->
    </div>
    <!--切换卡 moreSelect end -->
    <!--

    <div class="cloud">
      <h3>标签云</h3>
      <ul>
        <li><a href="/">前端设计</a></li>
      </ul>
    </div>
-->
    <div class="tuwen">
      <h3>新闻归档</h3>
      <ul>
        {% for month in month_list %}
        <li>
        <p>
        <span class="tutime font-size-18">
            <a href='/home/archive/?year={{ year }}&month={{ month }}'>{{year}}年{{month}}月重要新闻归档</a>
        </span>
        </p>
        </li>
        {% endfor %}
      </ul>
    </div>
    <!--
    <div class="links">
      <h3>友情链接</h3>
      <ul>
        <li><a href="/">web开发</a></li>
      </ul>
    </div>
  </div>
-->
  <!--r_box end -->
</article>
<footer>
  <p class="ft-copyright" id="footer" style="height:none">樊林 ICP备007号-1</p>
  <div id="tbox">
      <!--
      <a id="togbook" href=""></a> 
      -->
      <a id="gotop" href="#top"></a> 
  </div>
</footer>
</body>
</html>
